/* --------------DEFAULT SETUP --------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #666;
    text-rendering: optimizeLegibility; /*toi uu hoa hien thi*/
}

/* ---------------------- REUSABLE COMPONENT ------------------- */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #f39c12;
    padding: 13px;
    border-radius: 15px;
    margin-right: 10px;
    width: 170px;
    color: #fff;
    text-align: center;
}

.btn:hover,
.btn:active {
    background-color: #e67e22;
}

.row {
    width: 1140px;
    margin: auto;
}

.title-section {
    color:  #e67e22;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.title-section::after {
    content: "";
    border: 2px solid #e67d22c2 ;
    border-radius: 20%;
    width: 130px;
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: 20px;
}
section {
    padding: 50px;
}

/*----------------------------- HEADEING ---------------------------*/
.header {
    position: relative;
    background-image: linear-gradient(54deg, rgba(17,7,66,1) 0%, rgba(11,234,244,0.3085609243697479) 100%), url(./img/background4.jpeg);
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 400px;
    float: left;
    margin-left: 100px;
    margin-top: -50px;
}



.clearfix {
    content: "";
    display: block;
    clear: both;
}

.main-nav {
    float: right;
    list-style-type: none;
    display: flex;
    margin: 85px 100px 0px 0px;
}

.main-nav .nav-item a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

.main-nav .nav-item a:hover {
    border-bottom: 1.5px solid #eee;
    transition: all .2s;
}

.header .heading-main-box {
    position: absolute;
    color: #fff;
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.heading-main-box  h1{
    font-size: 300%;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 150px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 4rem;
    
}

/* ----------------------------- ABOUT SECTION --------------------------------------------- */
.about-section .intro-section{
    text-align: center;
    width: 70%;
    margin: auto;
    color: #100457;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about-section .about-picture {
    position: relative;
}
.about-section .about-picture p{
    color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.about-section .about-picture img{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    border: 2px solid #92b9ec;
    box-shadow: 5px 5px 15px #2d3e5e;
}

.about-section .about-picture:hover img,
.about-section .about-picture:active img {
    filter: brightness(60%) blur(2px);
    transition: all .3s;
}

.about-section .about-picture:hover p,
.about-section .about-picture:active p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    transition: all .4s;
    opacity: 1;
}

/* ------------------------------ PRODUCTS -------------------------------------- */
.product-section {
    background-color: #f5f5f5;
}

.product-section .product-box .content{
    background-color: #f6f6f6;
    box-shadow: 1px 1px 15px 1px #ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    height: 20rem;
    font-size: 1.4rem;
    margin-top: 50px;
    width: 95%;

}



.product-box p {
    color: #3a66e0;
    font-size: 2.2rem;
    font-weight: 200;
    margin: 20px 0px;
}

.product-box .price {
    font-weight: 400;
}

.product-box ul {
    list-style: none;
    margin: 30px 0px;
}
.product-box li {
    margin: 10px 0px;
}

.product-box i {
    color: #3a66e0;
    margin-right: 15px;
}

.product-box .btn {
    margin-top: 40px;
}

.product-section .product-box h3 {
    color: #fff;
    background-color: #100457;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* -------------------- TESTIMONIALS ------------------------------------------------ */

.testimonials-section {
    background-image: linear-gradient(54deg, rgba(17,7,66,1) 0%, rgba(11,234,244,0.3085609243697479) 100%), url(./img/background2.jpeg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    font-size: 90%;
    letter-spacing: 1px;
    line-height: 30px;
}

.testimonials-section .title-section::after {
    margin-top: 20px;
    width: 200px;
    margin-bottom: 100px;
}

.testimonials-section .testimonial-box .content{
    width: 90%;
}


blockquote {
    position: relative;
    margin-bottom: 30px;
}

blockquote::before {
    position: absolute;
    content: "\201C";
    display: block;
    clear: both;
    font-size: 5rem;
    font-weight: 900;
    left: -20px;
    top: 0px;
}

.testimonials-section img {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
}
